
code {
    border: 1px solid var(--main-highlight-color);
    padding: 2px;
}

pre > code {
    display: block;
    border: 1px solid var(--main-highlight-color);
    width: 100%;
    padding: 10px;
}
